* {
  margin: 0;
  padding: 0;
}
html {
  max-width: 1440px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0 auto;
  font-family: Roboto;
  background-color: #f2f4fc;
  max-width: 1440px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
header,
nav {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  color: #292e47;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  color: #292e47;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  color: #292e47;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  color: #292e47;
}
.body-medium {
  font-size: 24px;
  font-weight: 500;
}
.body-regular {
  font-size: 20px;
  font-weight: 400;
}
.headline-medium {
  font-size: 17px;
  font-weight: 500;
}
.headline-regular {
  font-size: 17px;
  font-weight: 400;
}
.caption-1 {
  font-size: 15px;
  font-weight: 400;
}
.caption-2 {
  font-size: 13px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p,
li,
a,
address,
label,
input {
  color: #6b708d;
}
.bluecolor {
  color: #072ac8;
}
.yellowcolor {
  color: #ffc600;
}
.whitecolor {
  color: #f2f4fc;
}
.hovercolor {
  color: #a2d6f9;
}
.boxblue {
  background-color: #072ac8;
  color: #f2f4fc;
  height: 32px;
  width: auto;
  padding: 15px 36px;
  border: 0;
}
.boxblue2 {
  background-color: #072ac8;
  color: #f2f4fc;
  border: none;
  height: 70px;
  max-width: 1100px;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: #f2f4fc;
  padding: 0px 170px;
  max-height: 122px;
  height: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
#navbar {
  width: 295px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contactussection {
  margin-top: 200px;
  padding: 0px 170px;
  max-height: 830px;
  height: 100%;
}
#contactussection h1 {
  margin-bottom: 90px;
}
#contactussection form {
  max-height: 660px;
  height: 100%;
  max-width: 1100px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
}
#contactussection form div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#contactussection form div label {
  max-width: 530px;
  width: 100%;
}

#contactussection input.headline-regular,
textarea {
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
  height: 70px;
  max-width: 1100px;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}
#contactussection textarea {
  max-height: 240px;
  height: 100%;
  padding-top: 20px;
}

footer {
  margin-top: 170px;
  height: 192px;
  padding: 0px 170px 50px 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

footer div:first-of-type {
  gap: 20px;
}

footer ol {
  display: flex;
  gap: 60px;
}

@media (max-width: 660px) {
  html,
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.5em;
  }
  .body-medium,
  .body-regular,
  .headline-medium,
  .headline-regular,
  .caption-1,
  .caption-2 {
    font-size: 0.7em;
  }

  header {
    padding: 0px 40px;
    margin: 0;
    width: 100vw;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  header .boxblue {
    display: none;
  }

  #contactussection {
    padding: 120px 40px;
    margin: 0px;
  }
  #contactussection h1 {
    margin-bottom: 30px;
  }
  footer {
    padding: 0px 40px;
    margin: 0px;
    margin-top: 150px;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: normal;
    box-sizing: border-box;
  }

  footer div:first-of-type address {
    display: none;
  }

  footer div {
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
  }

  footer ol {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    padding: 0;
  }
  #lista1 {
    display: flex;
    flex-direction: column;
  }
  #lista2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
