body {
  padding: 0;
  margin: 0 auto;
  font-family: Roboto;
  background-color: #f2f4fc;
  max-width: 1440px;
  width: 100%;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
header,
nav {
  padding: 0;
  margin: 0 auto;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  color: #292e47;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  color: #292e47;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  color: #292e47;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  color: #292e47;
}
.body-medium {
  font-size: 24px;
  font-weight: 500;
}
.body-regular {
  font-size: 20px;
  font-weight: 400;
}
.headline-medium {
  font-size: 17px;
  font-weight: 500;
}
.headline-regular {
  font-size: 17px;
  font-weight: 400;
}
.caption-1 {
  font-size: 15px;
  font-weight: 400;
}
.caption-2 {
  font-size: 13px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p,
li,
a,
address {
  color: #6b708d;
}
.bluecolor {
  color: #072ac8;
}
.yellowcolor {
  color: #ffc600;
}
.whitecolor {
  color: #f2f4fc;
}
.hovercolor {
  color: #a2d6f9;
}
.boxblue {
  background-color: #072ac8;
  color: #f2f4fc;
  height: 32px;
  width: auto;
  padding: 15px 36px;
  border: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f2f4fc;
  padding: 0px 170px 0px 170px;
  max-height: 122px;
  height: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
#navbar {
  width: 295px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#herosection {
  margin-top: 100px;
  padding: 0px 170px;
  max-height: 650px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}
#herosectiona {
  padding-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
#herosection1 {
  height: auto;
  width: 570px;
  padding: 96px 0px;
}
#herosection2 {
  display: flex;
  justify-content: end;
  height: auto;
  width: 570px;
  padding: 96px 0px;
}
#clientsection {
  height: 96px;
  margin-top: 130px;
  padding: 0px 170px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}
#projectssection {
  height: 100%;
  max-height: 561px;
  margin-top: 200px;
  padding: 0px 170px;
}
#projects {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  height: 100%;
  max-height: 444px;
}

#projects > div {
  width: 100%;
  max-width: 340px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.img-projects {
  width: 100%;
  height: 240px;
}

#projects > div .project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#projects > div .project-info .project-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

#testimonialsection {
  margin: 200px 60px 0px 60px;
  height: 622px;
  background-color: #292e47;
  position: relative;
}
#testimonialsection-emoji img {
  height: 150px;
}
#testimonialsection-emoji1 {
  position: absolute;
  top: 4%;
  left: 6%;
}
#testimonialsection-emoji2 {
  position: absolute;
  top: 4%;
  right: 6%;
}
#testimonialsection-emoji3 {
  position: absolute;
  bottom: 6%;
  left: 6%;
}
#testimonialsection-emoji4 {
  position: absolute;
  bottom: 6%;
  right: 6%;
}
#testimonialsection2 img {
  height: 50px;
  border-radius: 150px;
}
#testimonialsection2 {
  position: absolute;
  top: 25%;
  left: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}
#testimonial1 {
  text-align: center;
}
#testimonial1 p {
  padding-top: 80px;
}
#testimonial2 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
#testi2 {
  display: flex;
  flex-direction: column;
}
#testimonialsection h3 {
  color: #f2f4fc;
}
#servicessection {
  margin-top: 200px;
  padding: 0px 170px;
  height: 497px;
}
#services {
  padding-top: 50px;
  height: 380px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: service1 img, service2 img, service3 img service1 p,
    service2 p, service3 p service1 p, service2 p, service3 p service1 a,
    service2 a, service3 a;
  column-gap: 30px;
}
#service1 {
  height: 380px;
  max-width: 340px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#service2 {
  height: 380px;
  max-width: 340px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#service3 {
  height: 380px;
  max-width: 340px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#services img {
  height: 40px;
  width: 40px;
  background-color: #ecf7ff;
  border-radius: 25px;
  position: relative;
  left: 5px;
}
#services a {
  text-align: left;
}
#ctasection {
  height: 500px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
  background-color: #ffc600;
  padding-top: 136px;
  padding-bottom: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
#ctasection h3 {
  padding-bottom: 20px;
}
#ctasection .body-regular {
  padding-bottom: 50px;
  color: #292e47;
}
#cta-form-div {
  position: relative;
}
#ctasection label {
  position: absolute;
  top: 40%;
  left: 60px;
  color: #292e47;
}
#ctasection img {
  position: absolute;
  top: 35%;
  left: 20px;
  height: 30px;
}
#ctasection input {
  width: 393px;
  height: 80px;
  border: 0;
  background-color: #f2f4fc;
}
#ctasection button {
  width: 198px;
  height: 80px;
  margin-left: 20px;
  background-color: #072ac8;
  color: #f2f4fc;
}
footer {
  margin-top: 170px;
  height: 192px;
  padding: 0px 170px 50px 170px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

footer div:first-of-type {
  gap: 20px;
}

footer ol {
  display: flex;
  gap: 60px;
}
