* {
  margin: 0;
  padding: 0;
}
html {
  max-width: 1440px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: Roboto;
  background-color: #f2f4fc;
  max-width: 1440px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
header,
nav {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  color: #292e47;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  color: #292e47;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  color: #292e47;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  color: #292e47;
}
.body-medium {
  font-size: 24px;
  font-weight: 500;
}
.body-regular {
  font-size: 20px;
  font-weight: 400;
}
.headline-medium {
  font-size: 17px;
  font-weight: 500;
}
.headline-regular {
  font-size: 17px;
  font-weight: 400;
}
.caption-1 {
  font-size: 15px;
  font-weight: 400;
}
.caption-2 {
  font-size: 13px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p,
li,
a,
address {
  color: #6b708d;
}
.bluecolor {
  color: #072ac8;
}
.yellowcolor {
  color: #ffc600;
}
.whitecolor {
  color: #f2f4fc;
}
.hovercolor {
  color: #a2d6f9;
}
.boxblue {
  background-color: #072ac8;
  color: #f2f4fc;
  height: 32px;
  width: auto;
  padding: 15px 36px;
  border: 0;
}
header {
  margin: 0;
  max-width: 1440px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: #f2f4fc;
  padding: 0px 170px;
  max-height: 122px;
  height: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
#navbar {
  width: 295px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#simplifysection {
  margin-top: 200px;
  max-width: 1100px;
  max-height: 1181px;
  height: auto;
  padding: 0px 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 25px;
}
#simplifyart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#simplifysection img {
  max-height: 444px;
  height: 100%;
  max-width: 1100px;
  width: 100%;
  object-fit: cover;
}
#simplifysection > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 35px;
}
#simplifysection > div > span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}

#otherprojects {
  margin-top: 70px;
  max-height: 561px;
  height: 100%;
  max-width: 1440px;
  padding: 0px 170px;
}
#otherprojects2 {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  height: 100%;
  max-height: 444px;
}
#otherprojects2 > div {
  width: 100%;
  max-width: 340px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.img-projects {
  width: 100%;
  max-height: 240px;
  height: 100%;
}
#otherprojects2 > div .project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#otherprojects2 > div .project-info .project-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
#ctasection {
  height: 500px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
  background-color: #ffc600;
  padding-top: 136px;
  padding-bottom: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
#ctasection h3 {
  padding-bottom: 20px;
}
#ctasection .body-regular {
  padding-bottom: 50px;
  color: #292e47;
}
#cta-form-div {
  position: relative;
}
#ctasection label {
  position: absolute;
  top: 40%;
  left: 60px;
  color: #292e47;
}
#ctasection img {
  position: absolute;
  top: 35%;
  left: 20px;
  height: 30px;
}
#ctasection input {
  width: 393px;
  height: 80px;
  border: 0;
  background-color: #f2f4fc;
}
#ctasection button {
  width: 198px;
  height: 80px;
  margin-left: 20px;
  background-color: #072ac8;
  color: #f2f4fc;
}
footer {
  margin-top: 170px;
  height: 192px;
  padding: 0px 170px 50px 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

footer div:first-of-type {
  gap: 20px;
}

footer ol {
  display: flex;
  gap: 60px;
}

@media (max-width: 660px) {
  html,
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.5em;
  }
  .body-medium,
  .body-regular,
  .headline-medium,
  .headline-regular,
  .caption-1,
  .caption-2 {
    font-size: 0.7em;
  }

  header {
    padding: 0px 40px;
    margin: 0;
    width: 100vw;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  header .boxblue {
    display: none;
  }
  h1 {
    text-align: center;
  }
  #simplifysection {
    margin-top: 240px;
    padding: 0 40px;
  }
  #simplifyart {
    display: flex;
    flex-direction: column;
  }
  #data {
    font-size: 0.5em;
  }

  #simplifysection > div > span {
    text-align: justify;
  }

  #otherprojects {
    margin: 0px;
    padding: 160px 40px;
    max-height: fit-content;
  }
  #otherprojects h3 {
    text-align: center;
  }
  #otherprojects2 {
    max-height: fit-content;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  #ctasection {
    max-width: fit-content;
    border-radius: 400px;
    max-height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    padding-top: 80px;
    text-align: center;
  }

  #cta-form-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }
  #ctasection label {
    display: none;
  }
  #ctasection img {
    top: 0;
    left: 0;
  }

  #ctasection input {
    max-width: 300px;
    width: 100%;
    height: 30px;
    border: 0;
  }
  #ctasection button {
    max-width: 200px;
    width: 100%;
    height: 50px;
    border: 0;
  }

  footer {
    padding: 0px 40px;
    margin: 0px;
    margin-top: 150px;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: normal;
    gap: 20px;
    box-sizing: border-box;
  }

  footer div:first-of-type address {
    display: none;
  }
  footer div {
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
  }
  footer ol {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    padding: 0;
  }
  #lista1 {
    display: flex;
    flex-direction: column;
  }
  #lista2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
